.h1 {
  @apply font-medium text-4xl mb-4;
}

.triangle-bottom-left {
  @apply border-b-blue-400;
  width: 0;
  height: 0;
  border-bottom-width: 120px;
  border-right: 100vw solid transparent;
}

.triangle-bottom-right {
  @apply border-b-blue-200;
  width: 0;
  height: 0;
  border-bottom-width: 120px;
  border-left: 50vw solid transparent;
}